{{ form_errors(form) }}
{{ form_row(form.title) }}
{{ form_row(form.body) }}

{% if not is_granted("ROLE_USER") %}
            {{ form_row(form.authorName) }}
            {{ form_row(form.authorEmail) }}
{% endif %}
{{ form_row(form.categorys) }}
<label for="avro_support_question_isPublic">
    {{ form_widget(form.isPublic) }}
    {{ form.isPublic.vars['label'] }}
</label>
{{ form_widget(form._token) }}
