{% extends 'AvroSupportBundle::layout.html.twig' %}
{% block support_content %}
    <div class="page-header">

        {% if admin is defined %}
        <a class="pull-right btn btn-default btn-large" href="{{ path('avro_support_admin_list') }}"><i class="fa fa-fast-backward"></i> Back to Questions</a>
        {% else %}
        <a class="pull-right btn btn-default btn-large" href="{{ path('avro_support_question_list') }}"><i class="fa fa-fast-backward"></i> Back to Questions</a>
        {% endif %}
        <a class="pull-right btn btn-default btn-large" href="javascript:history.go(-1);"><i class="fa fa-arrow-left"></i> Back</a>

        <h1>{{ question.title }}</h1>

    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            {% if is_granted("ROLE_USER") %}
                {% if app.user.id == question.authorId or is_granted("ROLE_ADMIN") %}
                    <div class="pull-right">
                        <a id="editQuestion" class="btn btn-default" href="{{ path('avro_support_question_edit', {'id': question.id}) }}"><i class="fa fa-pencil"></i> Edit</a>
                        {% if not question.isSolved %}
                            <a class="btn btn-success" href="{{ path('avro_support_question_close', {'id': question.id}) }}"><i class="fa fa-check"></i> Solved</a>
                        {% endif %}
                        {% if question.isSolved %}
                            <a class="btn btn-default" href="{{ path('avro_support_question_open', {'id': question.id}) }}"><i class="fa fa-folder-open-o"></i> Reopen</a>
                        {% endif %}
                    </div>
                {% endif %}
            {% endif %}
            <p class="lead">{{ question.body | nl2br }}</p>
            <p>
                <span class="muted">Asked by </span><a href="{{ path('avro_support_support_search_user', {'id': question.authorId}) }}">{{ question.authorName }}</a>
                <span class="muted"> on {{ question.createdAt|date("M jS, Y") }}</span>
            </p>
        </div>
    </div>
    <hr class="soften">
    <b>{{ question.answers.count }} Answer{% if question.answers.count != 1 %}s{% endif %}</b>
    {% if question.categories|length %}
        <span id="categoriesContainer" class="pull-right">
            <b>Categories: </b>
            {% for categories in question.categories %}
                <a href="{{ path('avro_support_support_search_categories', {'id': categories.id}) }}">{{ categories.name }}{% if not loop.last %}, {% endif %}</a>
            {% endfor %}
        </span>
    {% endif %}
    <hr>
    <br>
    {% for answer in question.answers %}
        <div class="row">
            <div class="col-lg-1 col-md-1 col-sm-1">
                <img src="http://www.gravatar.com/avatar/{{ answer.authorEmail }}?s=50&d=mm" />
            </div>
            <div class="col-sm-11 col-md-11 col-lg-11">
                <a href="{{ path('avro_support_support_search_user', {'id': answer.authorId}) }}">{{ answer.authorName }}</a>
                <span class="muted"> on {{ answer.createdAt|date("M jS, Y") }}</span>
                   {% if is_granted("ROLE_USER") %}
                        {% if app.user.id == answer.authorId or is_granted("ROLE_ADMIN") %}
                            <a class="btn btn-danger btn-small pull-right confirm" title="Are you sure you want to delete this answer?" href="{{ path('avro_support_question_deleteAnswer', {'questionId': question.id, 'answerId': answer.id}) }}"><i class="fa fa-times"></i> Delete</a>
                        {% endif %}
                   {% endif %}
                <p>{{ answer.body | nl2br }}</p>
            </div>
        </div>
        {% if not loop.last %}
            <hr class="soften">
        {% else %}
            <hr />
        {% endif %}
    {% endfor %}
    {% if is_granted("ROLE_USER") or allow_anon %}
        <form id="avro_support_answer_form" class="" method="post" action="{{ path('avro_support_question_addAnswer', {'id': question.id}) }}">
            {{ form_widget(form.body) }}
            {{ form_widget(form._token) }}
            <br>
            <br>
            <button type="submit" class="btn btn-lg btn-primary" title="Submit an answer."><i class="fa fa-check"></i>Submit</button>
        </form>
    {% else %}
        Please <a href="{{ path('fos_user_security_login') }}">login</a> to reply this question.
    {% endif %}
{% endblock %}

