<table id="question-table" class="table-styled table-bordered table-condensed table-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Last Updated</th>
            {#<th>{{ paginator.sortable('Title', 'title')|raw }}</th>#}
            {#<th>{{ paginator.sortable('UpdatedAt', 'updatedAt')|raw }}</th>#}
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for question in questions %}
            <tr>
                <td>
                    {% if adminArea is defined %}
                    <a href="{{ path('avro_support_admin_question_show', {'id': question.id, 'admin': true}) }}">{{ question.title }}</a>
                    {% else %}
                    <a href="{{ path('avro_support_question_show', {'id': question.id}) }}">{{ question.title }}</a>
                    {% endif %}
                </td>
                <td class="center-align">{{ question.createdAt|date("F jS, Y") }}</td>
                <td>
                    <div class="dropdown btn-group">
                        {% if adminArea is defined %}
                        <a href="{{ path('avro_support_admin_question_show', {'id':question.id, 'admin': true}) }}" class="btn btn-default"><i class="fa fa-eye"></i> View</a>
                        {% else %}
                        <a href="{{ path('avro_support_question_show', {'id':question.id}) }}" class="btn btn-default"><i class="fa fa-eye"></i> View</a>
                        {% endif %}
                        <button class="btn btn-default dropdown-toggle" data-toggle="dropdown"> <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li><a id="editQuestion" href="{{ path('avro_support_question_edit', {'id': question.id}) }}"><i class="fa fa-pencil"></i> Edit</a></li>
                            <li><a class="confirm" title="Are you sure you want to delete this question?" href="{{ path('avro_support_question_delete', {'id': question.id}) }}"><i class="fa fa-trash-o"></i> Delete</a></li>
                            <li class="divider"></li>
                            {% if question.isSolved %}
                                <li><a href="{{ path('avro_support_question_open', {'id': question.id}) }}"><i class="fa fa-folder-open-o"></i> Reopen Question</a></li>
                            {% else %}
                                <li><a href="{{ path('avro_support_question_close', {'id': question.id}) }}"><i class="fa fa-check"></i> Mark as Solved</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="100%" class="left-align">0 questions found.</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<div class="center-align">
    {#{{ paginator.render()|raw }}#}
</div>
